<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

    <title><%= title %></title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="common/css/style.css">

    <% include ./navbar.ejs %>

  </head>
  <body>

  <div class="container-fluid">
    <div class="row">

    <div class="form-box">
      <div class="form-top">

        <h3> 새 사용자 등록 </h3>
        <form action="/newuser" method="post">
          사용자 이름 <input type="text" name="name">
          비밀번호 <input type="password" name="pw">
          <button type="submit"> 등록 </button>
        </form>
      </div>
    </div>
    </div>
    <div class="form-box">
      <div class="form-top">
    <h3 style="text-align:left;"> 사용자 목록 </h3>

      <div class="table-responsive">
        <table class="table" style="text-align:left;">
        <thead class="thead-default">
        <tr>
          <th>&nbsp; # &nbsp;</th>
          <th>이름</th>
          <th>비밀번호 재설정</th>
          <th>사용자 삭제</th>
        </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<users.length; i++) { %>
          <form action="/updateUser/<%=users[i]._id%>" method="post">

          <tr>
            <td> <%= i+1 %> </td>
            <td> <% if(users[i].name === 'Admin') { %> <strong> <%= users[i].name %> </strong> <% } else { %> <%= users[i].name %> <% } %> </td>

            <td> <% if(users[i].name === 'Admin') {} else { %> <input type="password" name="pw" placeholder="New password.."> <button type="submit" onclick="return confirm('사용자의 비밀번호를 재설정하시겠습니까?');" > <span class="glyphicon glyphicon-wrench" aria-hidden="true" > </span> </button> <% } %> </td>
            <td> <% if(users[i].name === 'Admin') {} else { %> <a href="/deleteUser/<%=users[i]._id %>" onclick="return confirm('이 사용자를 삭제하시겠습니까? 사용자를 삭제해도 프로젝트는 유지됩니다.');"  > <span class="glyphicon glyphicon-trash" aria-hidden="true" > </span> </a> <% } %> </td>

          </tr>
          </form>
         <% } %>
        </tbody>
      </table>
    </div>
      </div></div>


    </div> <!--container-->
  </body>
</html>
