<html>
  <head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title> <%= title %> </title>

   <!-- CSS , menu bar 따로 넣어야함 .. -->
   <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
   <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="common/css/style.css">

    <% include ./navbar.ejs %>

  </head>
  <body>

    <div class="container-fluid">
      <div class="row">

          <h2 class="sub-header"> 내 프로젝트 </h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>PM</th>
                  <th>프로젝트명</th>
                  <th>설명</th>
                  <th>진행상황</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- 반복문으로 내 프로젝트 뿌릴 예정, 이 전에 myproject에 프로젝트 들 중 pm이 나인것 찾아와야함 -->
                <% for(var i=0; i<myprojects.length; i++) { %>
                <tr>
                  <td> <%= i+1 %> </td>
                  <td> <%= myprojects[i].pm %> </td>
                  <td> <a href = "<%= myprojects[i]._id %>" > <%= myprojects[i].pname %> </a> </td>
                  <td> <%= myprojects[i].pdesc %> </td>
                  <td> <% myprojects[i].task.sort(); for(var j=0; j<myprojects[i].task.length; j++) { if(myprojects[i].task[j].state ==="inprogress"){ %>
                    <%= myprojects[i].task[j].tname.substr(2) %>
                  <% break; }} %> </td> <!-- 진행상황 쓸예정 -->
                  <td> <a href = "update/<%= myprojects[i]._id %>"> <span class="glyphicon glyphicon-wrench" aria-hidden="true" > </span> </a>  </td>

                </tr>
               <% } %>
              </tbody>
            </table>
          </div>

          <h2 class="sub-header"> 팀 내 모든 프로젝트 </h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>PM</th>
                  <th>프로젝트명</th>
                  <th>설명</th>
                  <th>진행상황</th>
                </tr>
              </thead>
              <tbody>
                <!-- 반복문으로 모든 프로젝트 뿌림 -->
                <% for(var i=0; i<allprojects.length; i++) { %>
                <tr>
                  <td> <%= i+1 %> </td>
                  <td> <%= allprojects[i].pm %> </td>
                  <td> <a href = "<%= allprojects[i]._id %>" > <%= allprojects[i].pname %> </a> </td>
                  <td> <%= allprojects[i].pdesc %> </td>
                  <td> <% allprojects[i].task.sort(); for(var j=0; j<allprojects[i].task.length; j++) { if(allprojects[i].task[j].state === "inprogress") { %>
                      <%= allprojects[i].task[j].tname.substr(2); %>
                    <% break; }} %>
                  </td>

                </tr>
               <% } %>
              </tbody>
            </table>
          </div>


        <!--/div-->
      </div>
    </div>



  </body>
</html>
