<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

  <title> <%= title %> </title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/common/css/style.css">

  <link rel="stylesheet" href="/common/css/progressbar.css">

</head>
<body>
  <% include ./navbar.ejs %>
  <!-- 기본은 게시판 형태, 산출물 업로드/다운로드가 핵심 -->

  <h1 style="font-weight:bold;"> <%= project.pname %> </h1>
  <br><br>
  <div class="container-fluid" align="right">
    <ul class="progressbar">

      <% for(var i=0; i<project.task.length; i++) { %>
        <li> <a href=""> <%=i+1%>. <%= project.task[i].tname.substr(2) %> </a> </li>
        <% } %>
      </ul>
    </div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-9">
          <div class="panel-group" id="accordion">

            <% for (var i=0; i<project.task.length; i++) { %>
            <div class="panel panel-default">
              <div class="panel-heading">

                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href= "#<%=project.task[i]._id%>"> Task # <%= (i+1) %> : <%= project.task[i].tname.substr(2) %> </a>
                </h4>
              </div>
              <div id="<%=project.task[i]._id%>" class="panel-collapse collapse">


                <div class="panel-body">
                <form ref='upload' id='upload' action='/upload/<%=project._id%>' method='post' encType="multipart/form-data">

                  <% if(project.task[i].state==="todo") {} else { %>
                    <ul>

                        <li> <%= project.task[i].product[0] %> </li>

                    </ul>
                    <% } %>

                  산출물 업로드: <input type="file" name="<%=project.task[i]._id %>" >
                  <input type='submit' value='Upload!' />
                  <!--span class="glyphicon glyphicon-paperclip" aria-hidden="true" > </span-->
                </form>
                </div>
              </div>
            </div>
          <% } %>
          </div> <!--group-->
        </div> <!--col(left)-->

        <div class="col-md-3">

          <h3> 프로젝트 개요 </h3>
          <p> <%= project.pdesc %> </p>
          <p> <%= project.bp[0] %> </p>

          <% if(name === 'Admin' | name === project.pm ) { %>
            <a href="/project/update/<%=project._id %>"> 수정 </a> <br>
            <a href="/project/delete/<%=project._id %>"> 삭제 </a> <br>
          <% } %>
          <!--a href="/update/<%=project._id %>"> 수정 </a> <br>
          <a href="/delete/<%=project._id %>"> 삭제 </a> <br-->

        </div> <!-- right division -->

       </div> <!-- div class row -->
     </div> <!-- container-fluid -->

</body>
</html>
