<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

    <title><%= title %></title>

    <!-- CSS , menu bar 따로 넣어야함 .. -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/css/style.css">

    <script>
    function removeProj(id){
      var result = confirm("정말 삭제하시겠습니까?");
      if(result)
      {
        $.ajax({
  			  url:"../delete/"+id,
  			  type:"delete",
  			  dataType:"json",
  			  success: function(result){
            console.log("project deleted");
            location.href="../dashboard";
  			  },
  			  error:function(request,status,error){
  		       console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
  			  }
  		  });
      }
    }


     function addTask(pid, tname) {
       var result = confirm(tname+"을(를) 추가하시겠습니까?");
       if(result){
         $.ajax({
  			  url:"/project/"+pid+"/"+tname,
  			  type:"post",
  			  dataType:"json",
  			  success: function(result){
            location.href="../update/"+pid;
            //이거체크
  			  },
  			  error:function(request,status,error){
  		       console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
  			  }
  		  });
       }
     }


    function removeTask(pid, tid){
      var result = confirm("이 작업에 등록된 산출물이 있을 수 있습니다. 정말 삭제하시겠습니까?");
      if(result)
      {
        $.ajax({
  			  url:"/project/"+pid+"/"+tid,
  			  type:"delete",
  			  dataType:"json",
  			  success: function(result){
            location.href="../update/"+pid;
  			  },
  			  error:function(request,status,error){
  		       console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
  			  }
  		  });
      }
    }
  </script>

  </head>
  <body>
    <% include ./navbar.ejs %>

    <h1>프로젝트 수정/삭제</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="form-box">
          <div class="form-top">
            <form role="form" action="/project/update/<%=project._id %>" method="post" class="form-newproject">
              <div class="form-group" style="font-weight:bold;">
                   PM: <%=name%>
              </div> (PM변경은 Administrator에게 요청하세요)
              <div class="form-group">
                <label class="sr-only" for="projectname">프로젝트명</label>
                   프로젝트명: <input type="text" name="pname" value="<%= project.pname %>" class="form-projectname form-control" id="pname">
              </div>
              <div class="form-group">
                 <label class="sr-only" for="form-password">프로젝트설명</label>
                   설명: <input type="text" name="pdesc" value="<%= project.pdesc %>" class="form-projectdesc form-control" id="pdesc">
              </div>

              <button type="submit" class="btn" style="margin:auto; display:inline;"> 수정 </button> <button type='button' id="<%=project._id %>" class="btn" style="display:inline;" onclick="removeProj(this.id)"> 프로젝트 삭제</button>
            </form>


                <div class="input-group">
                  Task <br>

                <ul>
                  <% optiontasks=["3.작업요청","5.IP할당","9.시설현황"]; for(var i=0; i<project.task.length; i++) { %>

                   <li>
                     <a href=""> <%= project.task[i].tname.substr(2) %> </a> <% for(var j=0; j<3; j++) { if(optiontasks[j] == project.task[i].tname) { %> <button name="<%=project._id %>" id="<%=project.task[i]._id %>" onclick="removeTask(this.name, this.id)"> <span class="glyphicon glyphicon-minus" aria-hidden="true" > </span></button>  <% optiontasks.splice(j, 1); }}%>
                   </li>
                   <!-- if문으로 active 경우 처리해줄것 -->
                  <% } %>

                  <% for(var k=0; k<optiontasks.length; k++) { %> <form role="form" action="/project/taskadded/<%=project._id %>" method="post"> <li> <input type="hidden" name="task" value="<%=optiontasks[k]%>"> <%= optiontasks[k].substr(2) %> <button type="submit"> <span class="glyphicon glyphicon-plus" aria-hidden="true" > </span> </button> </li> </form> <% } %>

                </ul>

                  <!--input type="checkbox" name="task" value="bp" checked> 인력/BP 관리<br-->
                </div><!-- /input-group -->

              <div class="form-group">

              </div>

          </div>
        </div>
      </div>
    </div>
  </body>

  <br><br>
</html>
