<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

    <title><%= title %></title>

    <!-- CSS , menu bar 따로 넣어야함 .. -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/common/css/style.css">

     <script>
    function removeProj(id){
      var result = confirm("정말 삭제하시겠습니까?");
      if(result)
      {
        $.ajax({
  			  url:"/delete/"+id,
  			  type:"delete",
  			  dataType:"json",
  			  success: function(result){
            location.href="../dashboard";
  			  },
  			  error:function(request,status,error){
  		       console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
  			  }
  		  });
      }
    }


    function removeTask(pid, tid){
      var result = confirm("이 작업에 등록된 산출물이 있을 수 있습니다. 정말 삭제하시겠습니까?");
      if(result)
      {
        $.ajax({
  			  url:"/delete/"+pid+"/"+tid,
  			  type:"delete",
  			  dataType:"json",
  			  success: function(result){
            location.href="../update/"+pid;
  			  },
  			  error:function(request,status,error){
  		       console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
  			  }
  		  });
      }
    }
  </script>

  </head>
  <body>
    <% include ./navbar.ejs %>

    <h1>프로젝트 수정/삭제</h1>
    <div class="container-fluid">
      <div class="row">
        <div class="form-box">
          <div class="form-top">
            <form role="form" action="/update/<%=project[0]._id %>"method="post" class="form-newproject">
              <div class="form-group" style="font-weight:bold;">
                   PM: <%=name%>
              </div> (PM변경은 Administrator에게 요청하세요)
              <div class="form-group">
                <label class="sr-only" for="projectname">프로젝트명</label>
                   프로젝트명: <input type="text" name="pname" value="<%= project[0].pname %>" class="form-projectname form-control" id="pname">
              </div>
              <div class="form-group">
                 <label class="sr-only" for="form-password">프로젝트설명</label>
                   설명: <input type="text" name="pdesc" value="<%= project[0].pdesc %>" class="form-projectdesc form-control" id="pdesc">
              </div>
                <div class="input-group">
                  Task <br>

                <ul>
                  <% optiontasks=["작업요청","IP할당","시설현황"]; for(var i=0; i<project[0].task.length; i++) { %>
                   <% for(var j=0; j<3; j++) { if(optiontasks[j] == project[0].task[i].tname.substr(2)) { %> <li> <%= optiontasks[j] %> <button name="<%=project[0]._id %>" id="<%=project[0].task[i]._id %>" onclick="removeTask(this.name, this.id)"> <span class="glyphicon glyphicon-minus" aria-hidden="true" > </span></button> </li> <% optiontasks.splice(j, 1); }} %>
                   <li> 
                     <% if(!optiontasks.includes(project[0].task[i].tname.substr(2)) { %>
                       <a href=""> <%= project[0].task[i].tname.substr(2) %> </a>
                     <% }) %> 
                     
                   </li>
                   <!-- if문으로 active 경우 처리해줄것 -->
                   <!--현재 모든 태스크 돌면서 옵션인거 한번 더 출력해서 옆에 마이너스 붙임. redundant-->
                  <% } %>

                  <% for(var k=0; k<optiontasks.length; k++) { %>
                    <li> <a href="">  <%= optiontasks[k] %> <span class="glyphicon glyphicon-plus" aria-hidden="true" > </span> </a> </li>
                  <% } %>
                </ul>

                  <!--input type="checkbox" name="task" value="bp" checked> 인력/BP 관리<br-->
                </div><!-- /input-group -->
              <div class="form-group">

              </div>
              <button type="submit" class="btn" style="margin:auto; display:inline;"> 수정 </button> <button type='button' id="<%=project[0]._id %>" class="btn" style="display:inline;" onclick="removeProj(this.id)"> 프로젝트 삭제</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </body>

  <br><br>
</html>
